.sliders {
  display: grid;
  flex: 3;
  grid-auto-flow: row;
  grid-gap: 6px;
  grid-template-columns: 5fr 7fr 5fr;
  height: 100%;
  margin-left: 16px;
}

.slider-left, .slider-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-wrap: break-word;
  text-wrap: balance;
}

.slider-left {
  justify-content: flex-end;
  text-align: right;
}

.slider-right {
  justify-content: flex-start;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .sliders {
    grid-template-columns: 30% 40% 30%;
    margin-left: 0;
  }
}
