.subclasses-header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.subclasses-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  margin-top: 4px;
}

.subclass {
  border: 2px solid var(--color-lightish);
  color: var(--color-lightish);
  cursor: pointer;
  flex: 0 0 33%;
  padding: 4px 4px;
  text-align: center;
  transition: color 200ms, border 200ms;
  user-select: none;
}

.subclass-selected {
  border: 2px solid var(--color-highlight);
  color: var(--color-highlight);
  font-style: italic;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .subclasses-list {
    grid-template-columns: 1fr 1fr;
  }
}