.traits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.trait {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.trait-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 4px;
}