.traits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.trait {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.trait-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 4px;
}

@media screen and (max-width: 800px) {
  .traits {
    flex-direction: column;
    margin: 16px 0;
  }

  .traits p {
    margin-top: 8px;
  }
}
