:root {
	--color-dark: #222;
	--color-darkish: #555;
	--color-light: #FFF;
	--color-lightish: #AAA;
	--color-highlight: cyan;
	
	font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: var(--color-dark);
	color: var(--color-light);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 16px 32px;
}

#app {
	max-width: 100%;
	width: 750px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 21px;
	margin: 0;
}

input, textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-light);
	font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: var(--color-light);
}

button {
	cursor: pointer;
}

section {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

p {
	margin: 0;
	white-space: pre-line;
}

@media screen and (max-width: 800px) {
	section {
		flex-direction: column;
	}
}

@media print {
	:root {
		--color-light: #222;
		--color-lightish: #888;
		--color-dark: #FFF;
		--color-darkish: #AAA;
		--color-highlight: darkcyan;
	}

	body {
		display: block;
	}

	section {
		break-after: auto;
		break-inside: avoid;
	}
}